html {
  scroll-behavior: smooth;
  scroll-padding-top: 140px;
}

.overlay {
  position: fixed;
  top: 29px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}

.show-overlay {
  display: block;
}

.header-super-up a,
.nav-menu--link,
.nav__inside--list li a {
  position: relative;
  padding: 0;
}

.header-super-up a::after,
.nav-menu--link::after,
.nav__inside--list li a::after {
  content: "";
  height: 2px;
  width: 100%;
  background: #ffff;

  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.header-super-up a:hover::after,
.nav-menu--link:hover::after,
.nav__inside--list li a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.cart-container i:hover,
.header-super-up figure a i:hover {
  color: greenyellow;
  transition: all 0.2s ease-in;
}

.menu-container i,
.nav__up i {
  position: relative;
  padding: 0;
}
.menu-container i:hover,
.nav__up i:hover,
.title__icon:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.menu__item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu__inside ul li a:hover {
  opacity: 0.5;
}

.menu__link--inside:hover {
  opacity: 0.5;
}

/* .menu__arrow:hover {
  transform: rotate(90deg);
} */

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-open {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-close {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}

.cards-infoUs:nth-child(1) {
  opacity: 0;
  animation: fade 0.1s ease-in forwards, slide-up 0.5s ease-in-out;
  animation-delay: 0.3s;
}
.cards-infoUs:nth-child(2) {
  opacity: 0;
  animation: fade 0.1s ease-in forwards, slide-up 0.5s ease-in-out;
  animation-delay: 0.6s;
}
.cards-infoUs:nth-child(3) {
  opacity: 0;
  animation: fade 0.1s ease-in forwards, slide-up 0.5s ease-in-out;
  animation-delay: 0.9s;
}
