.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.form__field input {
  /* background-color: rgb(53, 51, 51); */
  border: none;
  padding: 5px 5px;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  color: #000;
  margin: 4px 0px;
}

/* error / success */
.form__field.error input {
  border: 1px solid red;
}

.form__field small {
  color: #fff;
  font-size: 0.7rem;
  padding: 2px 5px;
  font-weight: 700;
  background-color: red;
  border-radius: 8px;
  max-width: 180px;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
  display: none;
}

.form__field.success input {
  border: 2px solid rgb(0, 255, 0);
}

#form__error {
  color: #ffff;
  background-color: red;
  font-size: 1rem;
  margin: 5px 0px;
  max-width: 350px;
  text-align: center;
}
