@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background: linear-gradient(
    0deg,
    rgba(62, 62, 62, 1) 0%,
    rgba(54, 53, 105, 1) 54%
  );
}

header {
  background-color: #141516;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  height: 70px;
}

.header-rigth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.header-left {
  display: flex;
  gap: 15px;
}

.header-down {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.navbar {
  width: 100%;
  padding: 0 20px;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 90px);
  align-items: center;
  justify-content: center;
  padding: 40px;
}

#hero h1 {
  font-size: 2rem;
  font-weight: 500;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-container p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}

.form-container p span a {
  font-weight: 700;
  transition: all 0.1s ease;
}

.form-container p span a:hover {
  color: red;
}

.form-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #141516;
  border-radius: 10px;
}

.form-login input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #141516;
  width: 70%;
}

.form__field {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-send {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ffff;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #141516;
  font-weight: 700;
  font-size: 0.9rem;
}

.btn-send:hover {
  opacity: 0.6;
  color: red;
}
